In [ ]:
# Q.1 Write a code to reverse a string
str1= 'helloworld'
str1[::-1]

'dlrowolleh'

In [ ]:
# Q.2 Write a code to count the number of vowels in a string
vowels = 'aeiouAEIOU'
def count_vowels(s):
    return sum(1 for char in s if char in vowels)
print(count_vowels("hello world"))

3

In [ ]:
# Q.3 Write a code to check if a given string is a palindrome or not
str2 ="racecar"
if str2 == str2[::-1]:
    print("palindrome")
else:
    print("not palindrome")

palindrome

In [ ]:
# Q.4 Write a code to check if two given strings are anagrams of each other
str3 = "tabo"
str4 = "boat"
if sorted(str3) == sorted(str4):
    print("anagrams")
else:
    print("not anagrams")

anagrams

In [1]:
# Q.5  Write a code to find all occurrences of a given substring within another string.
str1= "helloworld"
print(str1.endswith("rld"))

True

In [2]:
# Q.6 Write a code to perform basic string compression using the counts of repeated characters.

a = "hello world"
b = []
for i in a:
  if i not in b:
      b.append(i)
for c in b:
  print(c,a.count(c))

h 1
e 1
l 3
o 2
  1
w 1
r 1
d 1

In [ ]:
# Q.7 Write a code to determine if a string has all unique characters
string = "Hello"

unique = True
for char in string:
    if string.count(char) > 1:
        unique = False
        break
if unique:
    print("The string has all unique characters.")
else:
    print("The string does not have all unique characters.")

The string does not have all unique characters.

In [3]:
# Q.8 Write a code to convert a given string to uppercase or lowercase.
str6 = "samsung"
str.upper(str6)
print(str.upper(str6))


str7 = "APPLE"
str.lower(str7)
print(str.lower(str7))

SAMSUNG
apple

In [ ]:
# Q.9 Write a code to count the number of words in a string.
str6 = "samsung"
print(len(str6))

7

In [ ]:
# Q.10 Write a code to concatenate two strings without using the + operator.

str9 = "hello"
str10 ="world"
str9 + str10

'helloworld'

In [ ]:
# Q.11 Write a code to remove all occurrences of a specific element from a list.
list1 =[4,5,6,7,8,6,9,6]
element = 6
while element in list1:
    list1.remove(element)
print(list1)

[4, 5, 7, 8, 9]

In [ ]:
# Q.12 Implement a code to find the second largest number in a given list of integers.
def second_largest(list1):
     list1.sort()
     unique_list2 = []
     for x in list1:
         if x not in unique_list2:
             unique_list2.append(x)
     return unique_list2[-2] if len(unique_list2) >= 2 else None
print(second_largest([2, 4, 8, 6]))

6

In [ ]:
# Q.13  Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values.
lst = input().split(',')
print({x: lst.count(x) for x in set(lst)})

4,5,6,3,3,5,6,6,5,6,3,2,3
{'6': 4, '3': 4, '2': 1, '5': 3, '4': 1}

In [ ]:
# Q.14  Write a code to reverse a list in-place without using any built-in reverse functions.

str1= [1,2,3]
str2=str1[::-1]
print(str2)

[3, 2, 1]

In [ ]:
# Q.15 Implement a code to find and remove duplicates from a list while preserving the original order of elements.
a=[1,2,2,2,3,1,1,0,5,6,7,8,9,1,5,5]
b=set(list(a))
print(b)

{0, 1, 2, 3, 5, 6, 7, 8, 9}

In [ ]:
# Q.16  Create a code to check if a given list is sorted (either in ascending or descending order) or not.
list1 = [24,43,56,20,50,42]
list1.sort()
print(list1)
if list1 == list1[::-1]:
    print("descending")
else:
    print("ascending")

[20, 24, 42, 43, 50, 56]
ascending

In [ ]:
# Q.17 Write a code to merge two sorted lists into a single sorted list.
list1 = [24,43,56,30,40,22]
list2 = [42,23,22,56,35,20]
list1.extend(list2)
list1 = sorted(list1)
print(list1)

[20, 22, 22, 23, 24, 30, 35, 40, 42, 43, 56, 56]

In [ ]:
# Q.18  Implement a code to find the intersection of two given lists.
list1 = [42,23,22,56,35,20]
list2 = [23,42,56,65,24]
intersection = list(set(list1)&set(list2))
print(intersection)

[56, 42, 23]

In [ ]:
# Q.19 Create a code to find the union of two lists without duplicates
list1 = [42,23,22,56,35,20]
list2 = [23,42,56,65,24]
union= list(set(list1)|set(list2))
print(union)

[65, 35, 42, 20, 22, 23, 56, 24]

In [4]:
# Q.20  Write a code to shuffle a given list randomly without using any built-in shuffle functions.
list_input = input("Enter list elements separated by spaces: ").split()
n = len(list_input)
for i in range(n):
    swap_index = (i * 3) % n
    list_input[i], list_input[swap_index] = list_input[swap_index], list_input[i]
print("Shuffled List:", list_input)

Enter list elements separated by spaces: 1 2 3 4 5 6 7 8 9
Shuffled List: ['6', '4', '7', '8', '1', '3', '9', '5', '2']

In [ ]:
# Q.21  Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples.

tuple1 = tuple(input().split(','))
tuple2 = tuple(input().split(','))
print(tuple(set(tuple1) & set(tuple2)))

1,2,3,4,5
3,4,5,6,7
('3', '5', '4')

In [5]:
# Q.22  Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets.
nums1 = input("Enter first set of numbers (comma-separated): ").split(',')
nums2 = input("Enter second set of numbers (comma-separated): ").split(',')

set1 = {int(num) for num in nums1}
set2 = {int(num) for num in nums2}
print("Intersection:", set1 & set2)

Enter first set of numbers (comma-separated): 4,8,6,9,5
Enter second set of numbers (comma-separated): 6,4,8,7,2,4
Intersection: {8, 4, 6}

In [ ]:
# Q.23 Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.

tuple1 = tuple(input().split(','))
tuple2 = tuple(input().split(','))
print(tuple1 + tuple2)

1,2,3,5,6,5
1,3,6,8,9,40
('1', '2', '3', '5', '6', '5', '1', '3', '6', '8', '9', '40')

In [ ]:
# Q.24 Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set
str1= input("Enter pincode ")
str2 = input("Enter stdcode ")
print(str1)

Enter pincode 221001
Enter Stdcode0542
221001

In [ ]:
# Q.25 Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices

t = tuple(input("Enter tuple elements separated by space: ").split())
start = int(input("Enter start index: "))
end = int(input("Enter end index: "))

new_tuple = t[start:end+1]
print(new_tuple)

Enter tuple elements separated by space: A b c dd e FF gh, ks
Enter start index: 2
Enter end index: 5
('c', 'dd', 'e', 'FF')

In [ ]:
# Q.26 Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets
a = set(input("Enter first set of characters: "))
b = set(input("Enter second set of characters: "))

union_set = a | b

print("Union of sets:", union_set)

Enter first set of characters: Hello
Enter second set of characters: World
Union of sets: {'o', 'd', 'r', 'W', 'l', 'H', 'e'}

In [ ]:
 # Q.27 Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking

numbers = input("Enter numbers separated by spaces: ").split()
numbers = [int(num) for num in numbers]
numbers = tuple(numbers)
max_value = max(numbers)
min_value = min(numbers)

result = (max_value, min_value)
max_num, min_num = result

print("Maximum:", max_num)
print("Minimum:", min_num)

Enter numbers separated by spaces: 42 24 56
Maximum: 56
Minimum: 24

In [ ]:
# Q.28 Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

union = set1 | set2
intersection = set1 & set2
difference = set1 - set2

print("Union:", union)

print("Intersection:", intersection)

print("Difference (set1 - set2):", difference)

Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference (set1 - set2): {1, 2, 3}

In [ ]:
# Q .29 Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple

num = input("Enter elements of the tuple separated by spaces: ").split()
num = tuple(num)
element = input("Enter the element to count: ")
count = num.count(element)
print("Count of", element, "in tuple:", count)

Enter elements of the tuple separated by spaces: 42 24 42 45 42 56 45 42
Enter the element to count: 42
Count of 42 in tuple: 4

In [ ]:
# Q.30 Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets

set1 = set(input("Enter first set of strings: ").split())
set2 = set(input("Enter second set of strings: ").split())
symmetric_diff = set1 ^ set2
print("Symmetric Difference:", symmetric_diff)

Enter first set of strings: 40 ,42,24
Enter second set of strings: 44,42,24,26
Symmetric Difference: {'44,42,24,26', '40', ',42,24'}

In [ ]:
# Q.31 Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list

words = input("Enter words separated by spaces: ").split()
i = {}
for word in words:
    if word in i:
        i[word] += 1
    else:
        i[word] = 1
print(i)

Enter words separated by spaces: apple banana oranges apple pineapple banana oranges
{'apple': 2, 'banana': 2, 'oranges': 2, 'pineapple': 1}

In [8]:
# Q.32 Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together

dict1 = {}
n1 = int(input("Enter the number of key-value pairs for first dictionary: "))
for i in range(n1):
    key = input("Enter key: ")
    value = int(input("Enter value: "))
    dict1[key] = value

dict2 = {}
n2 = int(input("Enter the number of key-value pairs for second dictionary: "))
for i in range(n2):
    key = input("Enter key: ")
    value = int(input("Enter value: "))
    dict2[key] = value
merged_dict = dict1.copy()
for key in dict2:
    if key in merged_dict:
        merged_dict[key] += dict2[key]
    else:
        merged_dict[key] = dict2[key]
print("Merged Dictionary:", merged_dict)

Enter the number of key-value pairs for first dictionary: 3
Enter key: a
Enter value: 1
Enter key: b
Enter value: 2
Enter key: c
Enter value: 3
Enter the number of key-value pairs for second dictionary: 4
Enter key: b
Enter value: 2
Enter key: d
Enter value: 4
Enter key: e
Enter value: 5
Enter key: a
Enter value: 1
Merged Dictionary: {'a': 2, 'b': 4, 'c': 3, 'd': 4, 'e': 5}

In [ ]:
# Q.33  Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the function should return None

def get_nested_value(data, keys):
    for key in keys:
        if key in data:
            data = data[key]
        else:
            return None
    return data

store = {
    "fruits": {
        "apple": {
            "color": "red",
            "price": 3
        },
        "banana": {
            "color": "yellow",
            "price": 1
        }
    },
    "vegetables": {
        "carrot": {
            "color": "orange",
            "price": 2
        },
        "potato": {
            "color": "brown",
            "price": 1
        }
    }
}

keys_list = ["fruits", "apple", "color"]
print(get_nested_value(store, keys_list))

keys_list2 = ["vegetables", "carrot", "price"]
print(get_nested_value(store, keys_list2))

keys_list3 = ["fruits", "grape", "price"]
print(get_nested_value(store, keys_list3))

red
2
None

In [14]:
# Q.34  Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order

dict_input = {}
n = int(input("Enter number of key-value pairs: "))

for i in range(n):
    key = input("Enter key: ")
    value = int(input("Enter value: "))
    dict_input[key] = value
order = input("Enter 'asc' for ascending or 'desc' for descending order: ")
sorted_dict = dict(sorted(dict_input.items(), key=lambda x: x[1], reverse=(order == "desc")))
print("Sorted Dictionary:", sorted_dict)

Enter number of key-value pairs: 5
Enter key: a
Enter value: 1
Enter key: b
Enter value: 2
Enter key: c
Enter value: 3
Enter key: d
Enter value: 4
Enter key: e
Enter value: 5
Enter 'asc' for ascending or 'desc' for descending order: desc
Sorted Dictionary: {'e': 5, 'd': 4, 'c': 3, 'b': 2, 'a': 1}

In [ ]:
# Q.35 Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary.

def invert_dictionary(data):
    inverted = {}
    for key in data:
        value = data[key]
        if value in inverted:
            inverted[value].append(key)
        else:
            inverted[value] = [key]
    return inverted

original_dict = {
    "apple": "fruit",
    "carrot": "vegetable",
    "banana": "fruit",
    "potato": "vegetable"
}

inverted_dict = invert_dictionary(original_dict)
print(inverted_dict)

{'fruit': ['apple', 'banana'], 'vegetable': ['carrot', 'potato']}